<%- include('includes/header') %>
  <!-- header included end -->

  <div class="overlay">

    <article class="flexContainer">
      <a href="/">
        <img class="logo" src="/images2/logo.png" alt="Floc logo">
      </a>
      <div class="title">
        <h1 class="title">Community</h1>
      </div>
    </article>
    <img class="menu_icon item" src="./images/menu_icon.png">


    <div id="individual_post_container" class="container py-md-5 container--narrow">

      <%- include('includes/flash') %>

        <form action="/create-post" method="POST">
          <div class="form-group">
            <label for="post-title" id="add-post-title" class="text-muted mb-1"><small>Title</small></label>
            <input  required name="title" id="post-title" class="form-control form-control-lg form-control-title"
              type="text" placeholder="" autocomplete="off">
          </div>

          <div class="form-group">
            <label for="post-body" class="text-muted mb-1"><small>Body Content</small></label>
            <textarea required name="body" id="post-body" class="body-content tall-textarea form-control"
              type="text"></textarea>
          </div>
<br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <button id="new-post" class="btn btn-primary">Save New Post</button>
<br>

        </form>
    </div>
  </div>

  <!-- footer begins -->
  <%- include('includes/footer') %>