<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <!-- <script defer src="/script.js"></script> -->
    <title>Login</title>
</head>

<body>
    <div class="slider">
        <figure>

            <div class="slide">
                <h1>Your handy guidebook is here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod <br>tempor incididunt ut labore
                    et dolore magna aliqua. Proin libero nunc consequat
                    interdum varius sit.
                </p>
                <img src="images2/1.jpg" alt="Woman looking at view">
            </div>

            <div class="slide">
                <h1>Your handy guidebook is here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod <br>tempor incididunt ut labore
                    et dolore magna aliqua. Proin libero nunc consequat
                    interdum varius sit.
                </p>
                <img src="images2/2.jpg" alt="Man taking picture of the view">
            </div>

            <div class="slide">
                <h1>Your handy guidebook is here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod <br>tempor incididunt ut labore
                    et dolore magna aliqua. Proin libero nunc consequat
                    interdum varius sit.
                </p>
                <img src="images2/3.jpg" alt="Woman at the beach">
            </div>

            <div class="slide">
                <h1>Your handy guidebook is here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod <br>tempor incididunt ut labore
                    et dolore magna aliqua. Proin libero nunc consequat
                    interdum varius sit.
                </p>
                <img src="images2/4.jpg" alt="Woman taking photo with camera">
            </div>

            <div class="slide">
                <h1>Your handy guidebook is here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod <br>tempor incididunt ut labore
                    et dolore magna aliqua. Proin libero nunc consequat
                    interdum varius sit.
                </p>
                <img src="images/6.jpg" alt="hikers on a trail">
            </div>

        </figure>

        <div class="forum">

            <form class="form" action="login.php" method="post" id="login">
                <h1 class="form_title">Join Floc</h1>
                <p class="form_text"> to get access to a handbook packed with
                    insightful advice for your travels
                </p>
                <div class="form_message form_message-error"></div>

                <div class="form_input-group">
                    <label for="loginEmail">Email:</label>
                    <input type="email" id="loginEmail" name="email" class="form_input" autofocus required>
                    <div class="form_input-error-message"></div>
                </div>

                <div class="form_input-group">
                    <label for="loginPassword">Password:</label>
                    <input type="password" id="loginPassword" name="password" class="form_input" autofocus required>
                    <div class="form_input-error-message"></div>

                </div>

                <p class="form_text">
                    <a href="./Forgotten%20Password.html" class="form__link">Forgot Password</a>
                </p>

                <button class="form_button" type="submit">Log In</button>

                <h2>New User?</h2>

                <a href='./Register.html'>
                    <button class="form_button" type="button">Register</button> <br>
                </a>

            </form>

        </div>
</body>

</html>