/* 
/*-- Dami's functional styling code start 
*/

.tooltip {
  font-family: 'Open Sans', sans-serif;
}

.flex--box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-chat-icon i {
  align-self: center;
  text-align: center;
}

.flex--box span {
  align-self: center;
  text-align: left;
}

[class^="icon"],
[class*="-icon"] {
  display: inline-block;
  text-align: center;
  /* width: 100%; */
  /* margin-top: 0px; */
  margin-left: 15px;
}


.tooltip {
  font-size: .9rem;
}

.header-container-visible {
  display: none;
}

.profile--widget {
  margin-top: 50px;
}

/* .header-chat-icon {
  cursor: pointer;
  position: relative;
} */

.avatar-large {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  margin-top: 15%;

}


.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 4px; */
  position: relative;
  top: -1px;
}


/* Forum  */

.forum--list-group {
  height: auto;
}

.forum--list-group a {
  margin: 0;
  padding: 0;
  text-align: left;
  /* font-size: .9rem; */
}

.forum--tilte {
  font-size: 19px;
  margin: 0;
  /* margin-bottom: 15px; */
}


#flash {
  opacity: 1;
  transition: opacity .33s;
  will-change: opacity;
}

.liveValidateMessage {
  transition: all .5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%)
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0)
}


@media (min-width: 1200px) {

  .forum {
    margin-left: 820px;
    margin-top: 140px;
    float: right;
  }
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: rgb(0,0,0);  */

  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: .33s visibility ease-in-out, .33s opacity ease-in-out, .33s transform ease-in-out;
  will-change: visibility, transform, opacity;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 18px;
  outline: none;
  flex: 1;
  color: #007bff;
}

.live-search-results {
  opacity: 0;
  transition: all .3s ease-out;
  transform: scale(1.07)
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1)
}

.search-overlay-top {
  background-color: #FFF;
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  /* padding-top: 15px; */
  /* padding-bottom: 1px; */
}

.search-overlay-bottom {
  overflow: auto;
  
 
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: .75;
  line-height: 1;
  /* color: #292929; */
  padding-left: 40px;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 2.5rem;
  }

  .close-live-search {
    font-size: 3rem;
  }

  .search-overlay-icon {
    font-size: 3rem;
  }
}

.close-live-search:hover {
  opacity: 1;
  color: #da2e2e;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity .45s ease-out, visibility .45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

.container--narrow {
  max-width: 732px;
  margin: 30px auto ;

}

.header-search-icon {
  /* position: relative; */
  top: -5px;
}

/* End Search Overlay */

/* Chat */
/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
  opacity: 0;
  transform: translateY(100%)
}

.chat--visible {
  opacity: 1;
  transform: translateY(0)
}

.chat-title-bar {
  background-color: #292929;
  color: #FFF;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: .7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: .75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #007bff;
  color: #FFF;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: .75rem;
}